<div class="card mt-4">
  <div class="card-header">
    <span class="float-left mt-1">New Item</span>
    <button class="btn float-right btn-primary" (click)="onBackClick()" role="button">Back</button>
  </div>
  <div class="card-body">
    
    <form *ngIf="isLoaded" #newItemForm="ngForm">
      <div class="form-group row">
        <div class="col-sm-2 offset-sm-4">
          <mat-checkbox name="isSb" 
                        [ngClass]="{'d-block': copyItem}" 
                        [(ngModel)]="isSb">
            SB
          </mat-checkbox>
          <span class="mr-4" *ngIf="!copyItem"></span>
          <mat-checkbox name="isIpps" 
                        class="d-block"
                        [ngClass]="{'d-block': copyItem}" 
                        [(ngModel)]="isIpps">
            IPPS
          </mat-checkbox>
        </div>
        <div class="col-sm-2 offset-sm-1" *ngIf="copyItem">
            <mat-checkbox class="d-block" 
                          [(ngModel)]="withItemFieldConfigs"
                          name="withItemFieldConfigs">
              Item Field Configs
            </mat-checkbox>
            <mat-checkbox class="d-block" 
                          [disabled]="!withItemFieldConfigs"
                          [(ngModel)]="withMandatoryData"
                          name="withMandatoryData">
              Mandatory Data
            </mat-checkbox>  
        </div>
        <div class="col-sm-2" *ngIf="copyItem && hasMultipleFieldsWithMultipleValues">
          <mat-radio-group [(ngModel)]="copyFieldsStrategy"
                            [disabled]="!withItemFieldConfigs" 
                            name="copyStrategy">
            <mat-radio-button class="mr-3" [value]="'FROM_SUITABLE_ITEM'">
                From Suitable Item
            </mat-radio-button>
            <mat-radio-button [value]="'FROM_COPY_ITEM'">
                From Copy Item
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      
      <div class="form-group row" *ngFor="let field of itemMultipleFields">
        <label class="col-sm-4 col-form-label label-for-multiple">{{ field.fieldConfigName }}</label>
        <div class="col-sm-8">
          <app-chips [values]="field.values" (change)="changedMultipleField()"></app-chips>
        </div>
      </div>

      <div class="form-group row" *ngFor="let field of itemFields; let i = index">
        <label for="field{{i}}" class="col-sm-4 col-form-label">{{ field.fieldConfigName }}</label>
        <div class="col-sm-8">
          <input type="text" 
                name="{{field.fieldConfigName}}"
                appRequiredField="{{field.fieldConfigName}}"
                [(ngModel)]="field.value"
                [ngClass]="{'is-invalid': input.invalid && (input.dirty || input.touched) }"
                class="form-control" 
                #input="ngModel"
                id="field{{i}}">
          <div class="invalid-feedback">
            Field is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <app-excluded-fields [fieldConfigs]="excludedFieldConfigs"
                               (onChoseFields)="addFieldsFromExcluded($event)"></app-excluded-fields>
        </div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-success"
                  [disabled]="!newItemForm.form.valid || isSaveProcess" 
                  (click)="onSave()">Save New Item</button>
        </div>
      </div>
    </form>
  </div>
</div>