<div class="card mt-4">
  <div class="card-header">
      <mat-form-field>
          <input matInput
                [formControl]="itemNumberInput" 
                placeholder="Items">
      </mat-form-field>
    <a class="btn float-right btn-primary mt-3" 
       [routerLink]="['/items/new', rboCodeService.getRboObject()]" 
       role="button">Add+</a>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of filteredItems | async"
          class="list-group-item list-group-item-action">
        <a class="item-link" [routerLink]="['/items', item, rboCodeService.getRboObject()]">{{ item }}</a>
        <div class="delete-wrapper">
          <app-delete [all]="false" (onOkChoosen)="onDeleteItemNumber(item)"></app-delete>
        </div>
      </li>
    </ul>
  </div>
</div>

<app-scroll-top></app-scroll-top>
