<div class="card mt-4">
  <div class="card-header">
    <span class="float-left mt-1">Items</span>
    <a class="btn float-right btn-primary" routerLink="new" role="button">Add+</a>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of items" 
          class="list-group-item list-group-item-action">
          <a class="item-link" [routerLink]="['/items', item]">{{ item }}</a>
          <div class="delete-wrapper">
            <app-delete [all]="false" (onOkChoosen)="onDeleteItemNumber(item)"></app-delete>
          </div>
        </li>
    </ul>
  </div>
</div>

<app-scroll-top></app-scroll-top>
