.no-acitve {
  background: #F3F3F3;
}

.table-wrapper table {
  margin-bottom: 0;
  border-top: 0;
}

.table thead th {
  border-top: 0;
}

.new-item {
  background: rgb(255, 254, 205);
}

.new-item:hover {
  background: rgb(255, 238, 71);
}

.new-no-active {
  background: rgba(198, 169, 48, 0.18);
}
