<div class="form-group text-center location-wrapper">
  <mat-checkbox name="isIpps"
                (change)="onChangeLocation()" 
                [(ngModel)]="item.ipps">IPPS</mat-checkbox>
  <span class="mr-4"></span>
  <mat-checkbox name="isSb"
              (change)="onChangeLocation()" 
              [(ngModel)]="item.sb">SB</mat-checkbox>

  <div class="btns-wrapper" *ngIf="hasChanges">
    <app-controll [withReset]="false"
                  [withDelete]="false"
                  [withSaveStrategy]="false"
                  [item]="item"
                  [small]="true"
                  (save)="onSaveClick()"
                  (saveForItemNumber)="saveByItemNumbers($event)">
    </app-controll>
    <button class="btn  btn-danger ml-1 btn-sm" 
              (click)="onCancelClick()">
          <i class="fa fa-close" aria-hidden="true"></i>
    </button>
  </div>
</div>
