<h1 mat-dialog-title>
  <mat-form-field class="w-50">
    <input matInput
           [formControl]="itemNumberInput"
           placeholder="Select Item Number">
  </mat-form-field>
  <div class="float-right mt-3">
    <button class="btn btn-info btn-sm mr-1"
            (click)="copyToBuffer()">
            <i class="fa fa-clone" aria-hidden="true"></i> 
    </button>
    <button class="btn btn-info btn-sm mr-1"
            (click)="openInsertItem()">
        <i class="fa fa-exchange" aria-hidden="true"></i>
    </button>
    <mat-checkbox class="select-all"
                  [(ngModel)]="allItemNumbersSelected"
                  (change)="selectDeselectAll($event)">
    </mat-checkbox>
  </div>
</h1>
<div mat-dialog-content>
  <app-progress-bar class="progress-bar-center" [display]='!isLoaded'></app-progress-bar>
  <div class="item-numbers-wraper">
      <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action"
            (click)="select(item)"
            *ngFor="let item of filteredItemNumbers">
            <span>{{ item.itemNumber }}</span>
            <mat-checkbox [(ngModel)]="item.selected" class="float-right"></mat-checkbox>
            <div class="checkbox-ovelay"></div>
          </a>
      </div>
  </div>
</div>
<div mat-dialog-actions>
    <div class="text-right w-100">
        <button class="btn btn-light mr-2" (click)="onNoClick()">Close</button>
        <button class="btn btn-primary" [disabled]="!isLoaded" cdkFocusInitial (click)="okClick()">Ok</button>
    </div>
</div>
