.item-numbers-wraper {
    height: 500px;
    position: relative;
}

.item-numbers-wraper .list-group-item{
    cursor: pointer;
}

.checkbox-ovelay {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 11px;
    right: 19px;
}

.progress-bar-center {
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: 50%;
    margin: -25px 0 0 -25px;
    left: 50%;
}

.select-all {
    margin-right: 36px;
}