.max-height-scrollbar {
    max-height: 594px;
    min-height: 594px;
    overflow: auto;
}

.max-height-scrollbar>a {
    cursor: pointer;
}

.list-group-item-light {
    background: #F0F0F0;
}

.list-group-item-elow-gray {
    background: rgb(236, 207, 163);
}

.list-group-item-action {
    padding: 7px 15px;
}
