<app-menu-panel [item]="item"
                [selectedItemFieldConfig]="selectedItemFieldConfig"
                (delete)="delete($event)"
                (saveForCurrent)="saveForCurrent()"
                (saveForItemNumber)="saveForItemNumber($event)"
                (reset)="resetAllSelection()"
                (multipleEdit)="multipleEdit()">
</app-menu-panel>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
              <mat-form-field class="w-100">
                <input matInput
                       [formControl]="itemFieldConfigNameInput"
                       placeholder="Item Field Configs">
              </mat-form-field>
            </div>
            <div class="list-group list-group-flush max-height-scrollbar">
                <a class="list-group-item list-group-item-action"
                   *ngFor="let itemFieldConfig of filteredItemFieldConfigs | async"
                    [ngClass]="{
                            'list-group-item-secondary': itemFieldConfig.id === selectedItemFieldConfig.id,
                            'list-group-item-warning': itemFieldConfig.hasNewMandatoryData && itemFieldConfig.id !== selectedItemFieldConfig.id,
                            'list-group-item-light': itemFieldConfig.hasSelectedMandatoryData && itemFieldConfig.id !== selectedItemFieldConfig.id,
                            'list-group-item-elow-gray': itemFieldConfig.hasSelectedMandatoryData && itemFieldConfig.hasNewMandatoryData && itemFieldConfig.id !== selectedItemFieldConfig.id
                        }" 
                    (click)="select(itemFieldConfig)">
                    {{ itemFieldConfig.fieldConfig.name }}
                    <div class="float-right">
                        <span class="badge badge-primary mr-1"
                            title="Translations"
                            *ngIf="itemFieldConfig.mandatoryTranslations">
                            {{itemFieldConfig.mandatoryTranslations.length}}
                        </span>
                        <span class="badge badge-info"
                                title="Fields"
                                *ngIf="itemFieldConfig.mandatoryFields">
                                {{ itemFieldConfig.mandatoryFields.length }}
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-6">
                <app-mandatory-translations [itemFieldConfig]="selectedItemFieldConfig"
                                            [height]="'629px'"
                                            [languages]="selectedInstructionLanguages">
                </app-mandatory-translations>
            </div>
            <div class="col-sm-6">
                <app-mandatory-fields   [itemFieldConfig]="selectedItemFieldConfig"
                                        [height]="'629px'"
                                        [instructionsFieldConfigs]="selectedInstructionFieldConfigs">
                </app-mandatory-fields>   
            </div>
        </div>
    </div>
</div>
