<h1 mat-dialog-title>Add new Field Config</h1>
<div mat-dialog-content>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Owner</th>
      <th scope="col">IsPrintable</th>
      <th scope="col">Multiple</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td scope="align-middle">
        <input type="text" class="form-control"/>
      </td>
      <td>
        <input type="text" class="form-control"/>
      </td>
      <td>
        <input type="text" class="form-control"/>
      </td>
      <td class="text-center align-middle">
        <input type="checkbox" >
      </td>
      <td class="text-center align-middle">
        <input type="checkbox">
      </td>
    </tr>
    </tbody>
  </table>

</div>
<div mat-dialog-actions>
  <div class="text-right w-100">
    <button class="btn btn-light mr-2"
    >Cancel
    </button>
    <button class="btn btn-primary"

            cdkFocusInitial>Ok
    </button>
  </div>
</div>
