<div class="form-group row">
  <label class="col-sm-5 col-form-label">{{ field.fieldConfigName }}:</label>
  <div class="col-sm-7">
    <input type="text" 
           class="form-control-plaintext"
           *ngIf="!isEdit"
           readonly
           [(value)]="field.value">
    
    <input type="text" 
           class="form-control" 
           [(ngModel)]="field.value"
           (input)="onChangeValue()"
           name="fieldValue"
           *ngIf="isEdit">
  </div>

  <div class="col-sm-8 offset-sm-4 mt-2" *ngIf="isEdit">
    <div class="float-lg-right">
      <app-controll [withReset]="false"
                  [withDelete]="false"
                  [item]="item"
                  [small]="true"
                  [disabled]="!isChangedValue"
                  (save)="onSaveClick()"
                  (saveForItemNumber)="saveForAll($event)">
      </app-controll>
      <button class="btn btn-danger ml-1 btn-sm"
              (click)="onCancelClick()">
        <i class="fa fa-close" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="edit-btn-wrap text-right" *ngIf="!isEdit">
      <button class="edit-btn" (click)="onEditClick()">
          <i class="fa fa-edit" aria-hidden="true"></i>    
      </button>
      <app-delete
                  [withByItemNumbers]="true"
                  (onOkChoosen)="onDelete()"
                  (onAllChoosen)="onDeleteForAll()"
                  (onByChoosen)="onDeleteForAll($event)">
      </app-delete>
    </div>
</div>
