.table-wrapper {
    margin: 30px 20px 0 20px;   
    overflow: auto;
    max-height: 650px;
    border: 2px solid #dee2e6;
}

.no-acitve {
    background: #F3F3F3;
}

.table-wrapper table {
    margin-bottom: 0px;
    border-top: 0px;
}

.table thead th {
    border-top: 0px;
}

.new-item {
    background: rgb(255, 254, 205);
}