<app-field-config-list-control (onReset)="onReset()"
                                (onItemFieldConfigChanged)="onItemFieldConfigChanged()"
                               *ngIf="isLoaded"
                                [itemFieldConfigHolder]="itemFieldConfigHolder"></app-field-config-list-control>

<div *ngIf="isLoaded" class="table-wrapper">
  <app-field-confog-table
    [withSelection]="true"
    [instructionsFields]="itemFieldConfigHolder.instructionsFields"
    [itemFieldConfigs]="itemFieldConfigHolder.itemFieldConfigFilter.filteredItemFieldConfigs"></app-field-confog-table>
</div>
