<app-field-config-list-control (onReset)="onReset()"
                                (onItemFieldConfigChanged)="onItemFieldConfigChanged()"
                               *ngIf="isLoaded"
                                [itemFieldConfigHolder]="itemFieldConfigHolder"></app-field-config-list-control>
<div class="table-wrapper" *ngIf="isLoaded">
    <app-item-field-configs-table
      [itemFieldConfigs]="itemFieldConfigHolder.item.itemFieldConfigs"
      [withSelection]="true"></app-item-field-configs-table>
</div>
