<h1 mat-dialog-title>
    <span>Options save for all</span>
    <div class="float-right" *ngIf="item && fieldsToSelect.length > 0">
        <button class="btn btn-sm btn-primary" (click)="addField()">Add Field +</button>
    </div>
</h1>
<div mat-dialog-content> 
    <div class="radio-wrapper text-center" *ngIf="withSaveStrategy">
        <mat-radio-group [(ngModel)]="saveStrategy">
                <mat-radio-button class="mr-3" [value]="getOverideChangeOptionValue()">
                    Override fields
                </mat-radio-button>
                <mat-radio-button [value]="getOnlyForNewOptionValue()">
                    Save new fields
                </mat-radio-button>
          </mat-radio-group>
    </div>

    <form class="item-fields-values" *ngIf="item">
        <div class="form-group row" *ngFor="let field of multipleFields">
            <label class="col-sm-4 mt-3 col-form-label">{{ field.fieldConfigName }}</label>
            <div class="col-sm-8">
                <app-chips [values]="field.values"></app-chips>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <div class="text-right w-100">
        <button class="btn btn-light mr-2" 
                (click)="onCancel()">Cancel</button>
        <button class="btn btn-primary" 
                (click)="createFieldsCriteria()"
                cdkFocusInitial>Ok</button>
    </div>
</div>
