<div class="card mb-3">
  <div class="card-header">
    <span class="mt-2 d-inline-block mr-4"><b>Mandatory Data: </b>{{ itemNumber }}</span>
    <app-multiple-fields [item]="item"></app-multiple-fields>
    <div class="float-right">
      <app-export-item-number [itemNumber]="itemNumber" class="mr-1"></app-export-item-number>
      <button class="btn btn-primary mr-1" (click)="goToItemFieldConfig()"><i aria-hidden="true" class="fa fa-sliders"></i></button>
      <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
  </div>
  <div class="card-body">
    <div class="float-left">
      <button class="btn btn-info" 
              [disabled]="!selectedItemFieldConfig || !selectedItemFieldConfig.id"
              (click)="onMultipleEdit()">
        Multiple Edit
      </button>
    </div>
    <div class="float-right">
        <app-controll (save)="save()"
                      (saveForItemNumber)="saveForItemNumber($event)"
                      (delete)="delete($event)"
                      [item]="item"
                      [withSaveStrategy]="false"
                      (reset)="onResetClick()">
        </app-controll>  
    </div>
  </div>
</div>
