<td class="align-middle">{{ fieldConfig.name }}</td>
  <td>
    <input type="text"
           class="form-control"
           [(ngModel)]="fieldConfig.type"/>
  </td>
  <td>
    <input type="text"
           class="form-control"
           [(ngModel)]="fieldConfig.owner"/>
  </td>
  <td class="text-center align-middle">
    <input type="checkbox"
           [(ngModel)]="fieldConfig.printable">
  </td>
<div class="delete-wrapper">
  <app-delete [all]="false" (onOkChoosen)="onDeleteFieldConfig()"></app-delete>
</div>

