<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link dropdown-item" [matMenuTriggerFor]="exportTypes">
      <i class="fa fa-cloud-download" aria-hidden="true"></i>
    </a>
  </li>
</ul>

<mat-menu #exportTypes="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="itemOptions">Items</button>
  <button mat-menu-item [matMenuTriggerFor]="fieldConfigOptions">Field Configs</button>
</mat-menu>

<mat-menu #itemOptions="matMenu">
  <button mat-menu-item (click)="onExportBy()">By</button>
  <button mat-menu-item (click)="exportAll()">All</button>
</mat-menu>

<mat-menu #fieldConfigOptions="matMenu">
  <button mat-menu-item (click)="exportFieldsByNames()">By Name</button>
  <button mat-menu-item (click)="exportFieldsByTypes()">By Type</button>
  <button mat-menu-item (click)="exportFieldsByOwners()">By Owner</button>
  <button mat-menu-item (click)="exportAllFields()">All</button>
</mat-menu>