<div class="card mt-4">
  <div class="card-header">
    <span class="float-left mt-1"><b>Item:</b> {{ itemNumber }}</span>

    <div class="float-right">
        <app-export-item-number [itemNumber]="itemNumber" class="mr-2"></app-export-item-number>
        <button class="btn btn-primary mr-2" (click)="onToggle()">
            <i class="fa {{ isAllShow ? 'fa-angle-down' : 'fa-angle-right' }}" aria-hidden="true"></i>
        </button>
        <a class="btn btn-primary" [routerLink]="['/items', rboCodeService.getRboObject()]" role="button">Back</a>
    </div>
  </div>
  <div class="card-body">
    <app-item-detail *ngFor="let item of items; let i = index" 
                    [fieldConfigs]="fieldConfigs"  
                    [show]="shownItems[i]"
                    [multipleFieldsOrder]="multipleFields"
                    (onReloadData)="loadData()"
                    (onDeletedItem)="onDeletedItem($event)"
                    [item]="item">
    </app-item-detail>
  </div>
</div>
<app-scroll-top></app-scroll-top>
