<div class="card">
  <div class="card-header">
      <span class="d-inline-block">Translations</span>
      <div class="button-wrapper float-right"
            *ngIf="itemFieldConfig.id && languages.length">
          <button class="btn btn-primary btn-sm mr-1" (click)="selectAll()">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>   
          </button>
          <button class="btn btn-primary btn-sm" 
                  (click)="reset()">
              <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
          <app-add-mandatory-translation
                        [languages]="languages"
                        (addNewData)="addTranslation($event)"
                        [mandatoryTranslations]="itemFieldConfig.mandatoryTranslations">
          </app-add-mandatory-translation>
      </div>
  </div>
  <div class="card-body max-height-scrollbar"
        [ngStyle]="{'max-height': height, 'min-height': height}" 
        [ngClass]="{'empty-list': !languages.length}">
    <app-translation *ngFor="let mandatoryTranslation of itemFieldConfig.mandatoryTranslations"
                    (changedSelection)="changedSelection($event)"
                    [mandatoryTranslation]="mandatoryTranslation"></app-translation>
  </div>
</div>
