<div class="form-group row" *ngFor="let field of fields">
  <label class="col-sm-5 col-form-label">{{ field.fieldConfigName }}:</label>
  <div class="col-sm-7">
    <input type="text" 
           class="form-control" 
           [(ngModel)]="field.value"
           name="fieldValue">
  </div>
</div>
<div class="form-group row">
  <div class="col-sm">
      <div class="float-right">
        <app-controll [withReset]="false"
                  [withDelete]="false"
                  [item]="item"
                  [small]="true"
                  (save)="onSaveClick()"
                  (saveForItemNumber)="saveForAll($event)">
        </app-controll>
      </div>
  </div>
</div>
