<td scope="row align-middle">{{ itemFieldConfig.fieldConfigName }}</td>
<td class="text-center align-middle">
  <mat-slide-toggle [(ngModel)]="itemFieldConfig.active"></mat-slide-toggle>
</td>
<td class="text-center align-middle">
  <input type="checkbox"
         [disabled]="!itemFieldConfig.active"
         [(ngModel)]="itemFieldConfig.required">
</td>
<td class="text-center align-middle">
  <input type="checkbox"
         [disabled]="!itemFieldConfig.active"
         [(ngModel)]="itemFieldConfig.editable">
</td>
<td>
  <input type="text" 
        class="form-control" 
        [attr.disabled]="!itemFieldConfig.active ? '' : null"
        [(ngModel)]="itemFieldConfig.dataSourceName"/>
</td>
<td>
  <input type="text" 
          class="form-control"
          [attr.disabled]="!itemFieldConfig.active ? '' : null"
          [(ngModel)]="itemFieldConfig.predefinedValue" />
</td>
<td>
  <input type="text" 
         class="form-control"
         [attr.disabled]="!itemFieldConfig.active ? '' : null"
         [(ngModel)]="itemFieldConfig.filterRegex" />
</td>
<td class="text-center align-middle">
  <input type="checkbox"
         [disabled]="!itemFieldConfig.active"
         [(ngModel)]="itemFieldConfig.storeLastUserInput">
</td>
<td class="text-center align-middle">
  <input type="checkbox"
         [disabled]="!itemFieldConfig.active"
         [(ngModel)]="itemFieldConfig.canAddLater">
</td>
<td class="text-center align-middle">
  <input type="checkbox"
         [disabled]="!itemFieldConfig.active"
         (change)="onChangeSelection()"
         [(ngModel)]="itemFieldConfig.checked">
</td>
