<h1 mat-dialog-title>Insert Options</h1>
<div mat-dialog-content>
  <form>
      <div class="form-group">
          <label>Options</label>
          <textarea class="form-control items-text"
                    name="optionsInput"
                    [(ngModel)]="optionsInput">
          </textarea>
        </div>
  </form>
  <div class="form-group">
      <input type="text"
            [(ngModel)]="separator"
            class="form-control">
  </div>

</div>
<div mat-dialog-actions>
    <div class="text-right w-100">
        <button class="btn btn-light mr-2" (click)="onNoClick()">Close</button>
        <button class="btn btn-primary" (click)="okClick()">Ok</button>
    </div>
</div>
