<div class="container">
    <div class="card mt-4">
        <div class="card-header">
          <span class="float-left mt-1"><b>Item:</b> CAL-176-000</span>
          <div class="float-right">
                <button class="btn btn-primary" (click)="onBackClick()">Back</button>
          </div>
        </div>
        <div class="card-body">
            <app-excluded-fields [fieldConfigs]="itemFieldConfigHolder.noActiveFieldConfigs"
                               (onChoseFields)="onChoseFields($event)"></app-excluded-fields>
            <button class="btn btn-info ml-1"
                    (click)="openMultipleEditDialog()">Multiple Edit</button>
            <div class="float-right">
              <button class="btn btn-primary" 
                        (click)="saveByItemNumbers()"
                        title="Save By Item Numbers">Save By</button>
              <button class="btn btn-primary ml-1"
                      title="Reset"
                      (click)="onResetClick()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
              <button class="btn btn-primary ml-1"
                    (click)="onSaveClick()"
                    title="Save">
                <i class="fa fa-save" aria-hidden="true"></i>
              </button>
              <button class="btn btn-info ml-1"
                    (click)="onSaveAllForItem()"
                    title="Save For All">
                <i class="fa fa-copy" aria-hidden="true"></i>
              </button>
              <app-delete (onOkChoosen)="onDelete()"
                          [btnType]="btnType"
                          (onAllChoosen)="onDeleteForAll()"></app-delete>
            </div>
        </div>
    </div>
</div>
