<div class="container-fluid">
    <div class="card mt-4">
        <div class="card-header">
          <div class="float-left mt-1">
            <app-clipboard-item-number class="mr-4" [itemNumber]="itemNumber"></app-clipboard-item-number>
            <app-multiple-fields [item]="itemFieldConfigHolder.item"></app-multiple-fields>
          </div>
          <div class="float-right">
            <app-export-item-number [itemNumber]="itemNumber" class="mr-1"></app-export-item-number>
            <button class="btn btn-primary mr-1"
                    (click)="goToMandatoryFields()" 
                    title="Mandatory Fields">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </button>  
            <button class="btn btn-primary" (click)="onBackClick()">Back</button>
          </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col text-left">
                  <app-excluded-fields [fieldConfigs]="itemFieldConfigHolder.noActiveFieldConfigs"
                                       (onChoseFields)="onAddNewFields($event)"></app-excluded-fields>
                  <button class="btn btn-info ml-1"
                          (click)="openMultipleEditDialog()">Multiple Edit</button>
                </div>
                <div class="col-6 text-center">
                  <mat-radio-group  (change)="filterChanged()"
                                    [(ngModel)]="filterType">
                    <mat-radio-button class="mr-2" value="ALL">All</mat-radio-button>
                    <mat-radio-button class="mr-2" value="ACTIVE">Active</mat-radio-button>
                    <mat-radio-button class="mr-2" value="NEW">New</mat-radio-button>
                    <mat-radio-button value="CHANGED">Changed</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col">
                  <div class="float-right">
                    <app-controll (save)="onSaveClick()"
                                  (saveForItemNumber)="onSaveAllForItem($event)"
                                  (delete)="delete($event)"
                                  [item]="itemFieldConfigHolder.item"
                                  (reset)="onResetClick()">
                    </app-controll>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
