/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.edit-btn {
    background: transparent;
    border:none;
    outline: none;
    cursor: pointer;
    padding: 2px 3px;
}